<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aviso Legal</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body class="bodyViews">
    <header>
        <h1>TechSolutions</h1>
        <nav>
            <a href="../index.html">Inicio</a>
            <a href="galeria.html">Galería</a>
            <a href="presupuesto.html">Presupuesto</a>
            <a href="contacto.html">Contacto</a>
        </nav>
    </header>
    <section class="section-avisolegal">
        <h2>AVISO LEGAL</h2>
        <div class="div-avisolegal">
            

            <p>Bienvenido/a a TechSolutions.</p>
        
            <p><strong>Propiedad del Sitio Web:</strong> Este sitio web es propiedad y está operado por Marc Cuadrado. Todos los derechos reservados.</p>
        
            <p><strong>Uso Aceptado:</strong> Al acceder y utilizar este sitio web, aceptas cumplir con los términos y condiciones establecidos en este aviso legal, así como con todas las leyes y regulaciones aplicables. Si no estás de acuerdo con estos términos, por favor, abstente de usar el sitio.</p>
        
            <p><strong>Propiedad Intelectual:</strong> Todo el contenido de este sitio web, incluyendo pero no limitado a textos, gráficos, logotipos, imágenes y software, está protegido por leyes de propiedad intelectual y no puede ser utilizado sin autorización expresa por escrito.</p>
        
            <p><strong>Enlaces a Terceros:</strong> Este sitio puede contener enlaces a sitios web de terceros. Estos enlaces son proporcionados únicamente para tu conveniencia. No tenemos control sobre el contenido de esos sitios web y no asumimos ninguna responsabilidad por el contenido, políticas de privacidad o prácticas de sitios web de terceros.</p>
        
            <p><strong>Limitación de Responsabilidad:</strong> El uso de este sitio es bajo tu propio riesgo. No garantizamos la exactitud, actualidad ni la integridad del contenido proporcionado. No seremos responsables por cualquier pérdida o daño directo o indirecto resultante del uso o la imposibilidad de uso de este sitio.</p>
        
            <p><strong>Modificaciones:</strong> Nos reservamos el derecho de realizar cambios en este sitio web, incluyendo este aviso legal, en cualquier momento y sin previo aviso. Es tu responsabilidad revisar regularmente este aviso para estar al tanto de cualquier cambio.</p>
        
            <p><strong>Jurisdicción y Ley Aplicable:</strong> Este aviso legal se rige por las leyes de España y cualquier disputa relacionada con este aviso estará sujeta a la jurisdicción exclusiva de los tribunales de Barcelona .</p>
        
            <p>Gracias por visitar TechSolutions. Si tienes alguna pregunta o comentario sobre este aviso legal, no dudes en ponerte en contacto con nosotros.</p>
        
            <p>Fecha de última actualización: 31/01/2024</p>
        </div>
    </section>

    
    <footer>
        <div class="logo-container">
            <img src="../images/logo.png" alt="Logo de TechSolutions" class="logo">
            <img src="../images/facebook.png" alt="imagen 5" class="logo">
            <img src="../images/imagen6.png" alt="imagen 6" class="logo">
        </div>
        <div class="footer-content">
            <p><span class="colorWhite">&copy; <a class="avisolegal" href="avisoLegal.html">Aviso Legal</a> | Dirección: Sant Martí, 08005 Barcelona | Teléfono: +34 633 951 019</span></p>
        </div>
    </footer>
</body>

</html>
